python-telegram-bot[socks]
telegraph
mitmproxy # should not installed if on jailbroken iOS
pytz
flask
python-dotenv
requests
paramiko
bcrypt==4.0.1
httpcore[asyncio]
pip-system-certs
tzlocal==2.1